/* CSS reset */
*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
  }

  /*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}
  
  body{
    margin:10px;
  }
  
  a{
    text-decoration: none;
  }
  

  /* esconde as ancoras da tela */
  a.links{
    display: none;
  }
  
  /* content que contem os formulários */
  .content{
    width: 500px;
    margin: 0px auto;
    position: relative; 
  }
  
  /* formatando o cabeçalho dos formulários */
  h1{
    font-size: 48px;
    color: #6ab99d;
    padding: 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
  h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147, 189, 180, 0.8) 20%,rgb(147, 189, 178) 53%,rgba(147, 189, 176, 0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147, 189, 176, 0.8) 20%,rgb(147, 189, 180) 53%,rgba(147, 189, 175, 0.8) 79%,rgba(147,184,189,0) 100%); 
  }
  
  p{
    margin-bottom:15px;
  }
  p:first-child{
    margin: 0px;
  }
  label, select{
    color: black;
    position: relative;
  }
  
  /**** advanced input styling ****/
  /* placeholder */
  ::-webkit-input-placeholder  {
    color: #bebcbc; 
    font-style: italic;
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder{
    color: #bebcbc;
    font-style: italic;
  } 
  input {
    outline: none;
  }
  
  input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;  
    border: 1px solid #b2b2b2;
    
    -webkit-border-radius: 3px;
    border-radius: 9px;
    
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6) inset;
    
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  #estado_cad, #gênero_cad{
    width: 99%;
    margin-top: 4px;
    padding: 10px;  
    border: 1px solid #b2b2b2;
    
    -webkit-border-radius: 3px;
    border-radius: 9px;
    
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6) inset;
    
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;

  }
  
  /*estilo do botão submit */
  input[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background-color: var(--base-color);
    padding: 8px 5px;
    color: var(--text-color-light);
    font-size: 20px;  
    border: 1px solid #fff; 
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    font: 500 1rem var(--body-font);
    transition: background 0.3s;
    
    -webkit-border-radius: 5px;
    border-radius: 9px;
    
  }
  input[type="submit"]:hover{
    background: var(--base-color-alt);
  }
  
  /*marcando os links para mudar de um formulário para outro */
  .link{
    display: flex;
    background: #e1eaeb;
    color: #000000;
    height: 8vh;
    width: 40vw;
    font-size: 16px;
    text-align: center;
    border-top: 1px solid #dbe5e8;
    align-items: center;
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
    justify-content: center;
    margin-top: 10px;
    align-self: center;
  }
  .link a {
    font-weight: bold;
    padding: 6px;
    color: var(--base-color);
    margin-left: 10px;
  
    -webkit-border-radius: 4px;
    border-radius: 4px;  
  
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
    align-self: center;
  }
  .link a:hover {
    color: var(--base-color-alt);
  }

  #cadastro {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    margin: 0 0 35px 0;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189,0.8);
    
    border-radius: 5px;
    
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
  
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }

  .form-container {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  #paracadastro:target ~ .content #cadastro{
    z-index: 2;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
  }
  #registro:target ~ .content #cadastro{
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
  }

 